@charset "UTF-8";
.t{
	text-align: center;
}
.h{
	text-align: center;
}
.e{
	text-align: center;
}
.ee{
	text-align: center;
}
.n{
	text-align: center;
}
.d{
	text-align: center;
}
.end{
	background-image: linear-gradient(red, blue);
}