@charset "UTF-8";
.bodyq2{
	background-color: dimgray;
}
.q2title{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 200%;
	color: darkorange;
}
.q2a{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 150%;
	color: deepskyblue
}
.q2b{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 150%;
	color: deepskyblue
}
.q2c{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 150%;
	color: deepskyblue
}
.q2d{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 150%;
	color: deepskyblue
}
